@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?s5c2zq');
  src:  url('../fonts/icomoon.eot?s5c2zq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s5c2zq') format('truetype'),
    url('../fonts/icomoon.woff?s5c2zq') format('woff'),
    url('../fonts/icomoon.svg?s5c2zq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
  color: #fff;
}
.icon-twitter:before {
  content: "\e901";
  color: #fff;
}
.icon-instagram:before {
  content: "\e902";
  color: #fff;
}
.icon-facebook1:before {
  content: "\ea90";
  color: #fff;
}
